{% extends 'degiro/base.html' %}

{% block content %}
    <div id="container" style="width: 75%; margin-left: 2.5%">
        <canvas id="portfolio-allocation"></canvas>
    </div>
{% endblock %}

{% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://google.github.io/palette.js/palette.js"></script>
<script>
    const allocationData = {{ data|safe }}
    const allocationLabels = {{ labels|safe }}

    const colorPalette = palette('sequential', allocationData.length).map((hex) => '#' + hex)

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: allocationData,
                backgroundColor: colorPalette,
                label: 'Symbol'
            }],
            labels: allocationLabels
        },
        options: {
            responsive: true,
            legend: {
            position: 'left'
        },
    }
};

window.onload = function() {
    var ctx = document.getElementById('portfolio-allocation').getContext('2d');
    window.myPie = new Chart(ctx, config);
};

</script>

{% endblock %}