{% extends 'degiro/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <head>
        <title>Aktuelle Positionen</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <div id="container" style="margin-left: 2.5%">
        <table id="portfolio-table">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>ISIN</th>
                <th>Size</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Allocation</th>
            </tr>
            </thead>
            <tbody>
            {% for row in portfolio %}
                <tr class="odd gradeX">
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.isin }}</td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.subtotal }}</td>
                    <td>{{ row.allocation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}