asgiref==3.2.10
bokeh==2.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chromedriver==2.24.1
cssselect2==0.3.0
cycler==0.10.0
defusedxml==0.6.0
Django==3.0.14
django-tables2==2.3.1
django-widget-tweaks==1.4.8
geckodriver-autoinstaller==0.1.0
html5lib==1.1
idna==2.10
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
multitasking==0.0.9
numpy==1.19.1
packaging==20.4
pandas==1.0.5
Pillow==7.2.0
psycopg2-binary==2.8.5
pycparser==2.20
pyparsing==2.4.7
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
tinycss2==1.0.2
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.25.10
WeasyPrint==51
webencodings==0.5.1
yfinance==0.1.54
