{% extends 'degiro/base.html' %}
{% block content %}
<style>
    .link-table {
        width: 100%;
    }

    .td-even {
        background-color: #e3e3e3;
        color: #009fdf;
        text-align: center;
        vertical-align: center;
    }

    .td-odd {
        background-color: #009fdf;
        color: #e3e3e3;
        text-align: center;
        vertical-align: center;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Degiro Depot</title>
</head>
<body>
    <table class="link-table">
        <tbody>
         <tr>
           <td class="td-odd" id="overview-box">Hello</td>
           <td class="td-even" id="allocation-box">World</td>
           <td class="td-odd" id="performance-box">Hello</td>
           <td class="td-even" id="report-box">World</td>
         </tr>
        </tbody>
    </table>
</body>
{% endblock %}


