{% load static %}

 <head>
   <title>Test</title>
   <style>
       #chartdiv {width: 70%; height: 400px; margin: 0 auto;}
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>

   <h1>Depot</h1>

    <div id="chartdiv">
        <img src="{% static 'degiro/images/performance_graph.png' %}" alt="Performance chart">
    </div>


   <table>
     <thead>
       <tr>
         <th>Symbol</th>
         <th>Pieces</th>
       </tr>
     </thead>
     <tbody>
       {% for person in people %}
         <tr>
           <td>{{ person.symbol }}</td>
           <td>{{ person.pieces }}</td>
         </tr>
       {% endfor %}    
     </tbody>
   </table>
 </body>
