<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>Depot</h1>
   <table>
     <thead>
       <tr>
         <th>Symbol</th>
         <th>Pieces</th>
       </tr>
     </thead>
     <tbody>
       {% for person in people %}
         <tr>
           <td>{{ person.symbol }}</td>
           <td>{{ person.pieces }}</td>
         </tr>
       {% endfor %}    
     </tbody>
   </table>
 </body>
</html>