{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Degiro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'degiro/css/style.css' %}">
  </head>
  <body>
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar" class="active">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				<h1><a href="index.html" class="logo">Degiro</a></h1>
					<ul class="list-unstyled components mb-5">
						<li class="active">
							<a href="#"><span class="fa fa-home mr-3"></span> Home</a>
						</li>
						<li>
							<a href="#"><span class="fa fa-user mr-3"></span> About</a>
						</li>
						<li>
							<a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
						</li>
						<li>
							<a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
						</li>
						<li>
							<a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
						</li>
					</ul>
				<div class="mb-5">
					<h3 class="h6 mb-3">Subscribe for newsletter</h3>
					<form action="#" class="subscribe-form">
						<div class="form-group d-flex">
							<div class="icon"><span class="icon-paper-plane"></span></div>
							<input type="text" class="form-control" placeholder="Enter Email Address">
						</div>
					</form>
				</div>
			</div>
		</nav>

	<!-- Page Content  -->
	<div id="content" class="p-4 p-md-5 pt-5">
		{% block content %}
		{% endblock %}
	</div>

    <script src="{% static 'degiro/js/jquery.min.js' %}"></script>
    <script src="{% static 'degiro/js/main.js' %}"></script>
  </body>
</html>